@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'REM-Regular';
    src: url('../../public/fonts/REM-Regular.ttf');
}

@font-face {
    font-family: 'REM-Bold';
    src: url('../../public/fonts/REM-Bold.ttf');
}

@font-face {
    font-family: 'REM-Light';
    src: url('../../public/fonts/REM-Light.ttf');
}

.r-reg {
    font-family: 'REM-Regular';
}

.r-bold {
    font-family: 'REM-Bold';
}

.r-light {
    font-family: 'REM-Light';
}

p{
    font-family: REM-Light;
    font-size: 0.93rem;
}


.circle {
    height: 35px;
    width: 35px;
    background-color: black;
    border-radius: 50%;
    display: inline-block;
}


